* {
  margin: 0;
  padding: 0;
}

body,
.main-container {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
}

/* Navbar CSS */

.navbar {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 80px;
  margin: 0 65px;
}

.nav-help {
  display: flex;
  gap: 27px;
  font-size: 18px;
  text-transform: uppercase;
}

.nav-logo {
  width: 200px;
}

.nav-header-items ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 27px;
  font-size: 18px;
  text-transform: uppercase;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  gap: 35px;
  height: 80px;
  font-size: 20px;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 5px;
  font-size: 18px;
  text-transform: uppercase;
}

/* Steps CSS */

.stepper {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 100px;
  margin: 150px 144px 87px 144px;
  border-top: 1px solid #00000080;
  border-bottom: 1px solid #00000080;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  gap: 32px;
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: #ddd;
  color: black;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  font-size: 32px;
}

.step.active .step-number {
  background: black;
  color: white;
}

.step.completed .step-number {
  background: #ddd;
}

.step-label {
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.active {
  background: #d7f2e3;
  padding: 13px;
  border-radius: 100px 0 0 100px;
}

/* Information CSS */
.information-container {
  margin: 0 82px 63px 82px;
  border: 1px solid #d7d7d7;
}

.information-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0%;
}

.information-first-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  padding: 60px 81px 130px 81px;
}

.date-wrapper {
  position: relative;
  width: 100%;
  max-width: 320px;
}

.information-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f4f4f4;
  border: none;
  border-radius: 100px;
  padding: 14px 40px 14px 20px;
  font-size: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
  position: relative;
}

.information-select {
  width: 100%;
  color: #bbbbbb;
  max-width: 320px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='10' height='6' viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%23999' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 12px;
  cursor: pointer;
}

.information-date {
  appearance: none;
  background-color: #f4f4f4;
  border: none;
  border-radius: 100px;
  width: 100%;
  color: #bbbbbb;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23999" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 20px;
}

.information-date-2 {
  max-width: 320px;
  width: 100%;
}

.information-button {
  font-size: 14px;
  width: 100%;
  color: #cacaca;
  max-width: 320px;
  border: 2px solid #dddddd;
  background-color: #ffffff;
  font-weight: "Body/Font Weight Regular";
  line-height: 140%;
  letter-spacing: 0%;
  cursor: not-allowed;
  transition: background-color 0.3s ease;
}

.information-button.enabled {
  border: 2px solid #00b066;
  background-color: #00b066;
  color: white;
  cursor: pointer;
}

.information-date::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.date-wrapper label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  transition: all 0.2s ease-out;
  font-size: 14px;
}

.information-date:focus + label,
.information-date:not(:placeholder-shown):valid + label {
  top: 6px;
  font-size: 10px;
  color: #666;
}

.information-second-box {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 0 81px 78px 81px;
  gap: 24px;
}

.information-inputs {
  display: flex;
  gap: 32px;
}

.typed {
  color: #000000;
}

.information-third-box {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 0 81px 78px 81px;
  gap: 15px;
}

.information-ambulant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00b0660a;
  padding: 62px 37px;
}

.checkbox-label {
  display: flex;
  flex-direction: column;
}

.tarif-checkbox1,
.tarif-checkbox2 {
  accent-color: black;
  width: 16px;
  height: 16px;
}

.tarif-checkbox2 {
  visibility: hidden;
}
.checkbox-dark-text {
  font-family: "Subheading/Font Family";
  font-weight: "Subheading/Font Weight";
  font-size: "Subheading/Size Medium";
  line-height: 120%;
  letter-spacing: 0%;
  color: #1e1e1e;
  display: flex;
  gap: 12px;
  align-items: center;
}

.checkbox-light-text {
  color: #757575;
  font-family: "Body/Font Family";
  font-weight: "Body/Font Weight Regular";
  font-size: "Body/Size Medium";
  line-height: 140%;
  letter-spacing: 0%;
  display: flex;
  gap: 12px;
}

.plus-container {
  display: flex;
  gap: 10px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: -1.9%;
  color: #000000cc;
  margin-left: 144px;
  margin-bottom: 88px;
}

.complete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00b066;
  padding: 29px 142px;
}

.complete-text {
  font-family: "Inter";
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #ffffff;
}

.complete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  width: 100%;
  border: 2px solid #000000;
  border-radius: 100px;
  background: #ffffff;
  color: #001957;
  font-family: "Marselis Pro";
  font-weight: "Body/Font Weight Regular";
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 15.13px;
}
