* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "RobotoBold";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Regular.otf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

body,
.main-container {
  height: 100%;
  width: 100%;
  font-family: "Roboto";
  overflow-x: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
}

/* Navbar CSS */
.navbar {
  width: 100%;
  height: auto;
  background-color: #ffffff;
}

.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 80px;
  margin: 0 65px;
}

.nav-help {
  display: flex;
  gap: 27px;
  font-size: 18px;
  text-transform: uppercase;
  align-items: center;
}

.nav-logo {
  width: 200px;
  height: auto;
}

.nav-header-items ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 27px;
  font-size: 18px;
  text-transform: uppercase;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  gap: 35px;
  height: 80px;
  font-size: 20px;
  flex-wrap: wrap;
  padding: 10px;
}

.nav-menu a {
  white-space: nowrap;
  padding: 5px;
}

.nav-menu-items {
  text-decoration: none;
  color: #000000;
}

.nav-active {
  color: #00b066;
}

.nav-menu ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 5px;
  font-size: 18px;
  text-transform: uppercase;
  flex-wrap: wrap;
}

/* Steps CSS */
.stepper {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 100px;
  margin: 150px auto 87px;
  border-top: 1px solid #00000080;
  border-bottom: 1px solid #00000080;
  max-width: calc(100% - 288px);
  width: 100%;
  flex-wrap: wrap;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex: 1;
  gap: 32px;
  min-width: 200px;
}

.step-number {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  background: #ddd;
  color: black;
  width: 74px;
  height: 74px;
  border-radius: 50%;
  font-size: 32px;
  flex-shrink: 0;
}

.step.active .step-number {
  background: black;
  color: white;
}

.step.completed .step-number {
  background: #ddd;
}

.step-label {
  font-weight: 400;
  font-size: 28px;
  line-height: 140%;
  letter-spacing: 0%;
  text-transform: uppercase;
  white-space: nowrap;
}

.active {
  background: #d7f2e3;
  padding: 13px;
  border-radius: 100px 0 0 100px;
}

.active2 {
  border-radius: 0;
}

/* Information CSS */
.information-container,
.application-container {
  margin: 0 auto 63px;
  border: 1px solid #d7d7d7;
  max-width: calc(100% - 164px);
  width: 100%;
}

.information-title,
.application-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0%;
}

.application-title {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.application-tarif {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 24px;
  line-height: 140%;
  letter-spacing: 0%;
}

.first-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title-icon {
  cursor: pointer;
  font-size: 24px;
}

.information-description,
.information-date-box {
  overflow: hidden;
  transition: max-height 0.3s ease, opacity 0.3s ease;
}

.information-description.collapsed,
.information-date-box.collapsed {
  max-height: 0;
  opacity: 0;
}

.padding-collapsed {
  padding-bottom: 0 !important;
}

.information-first-box,
.application-first-box {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  padding: 60px 81px 130px;
}

.application-first-box {
  gap: 34px;
}

.date-wrapper {
  position: relative;
  z-index: 0;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  max-width: 320px;
}
.information-date {
  width: 100%;
  padding: 8px 12px;
  -webkit-appearance: none;
  appearance: none;
}

.information-input,
.application-input {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f4f4f4;
  border: none;
  border-radius: 100px;
  padding: 14px 20px 14px 20px;
  font-size: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0%;
  position: relative;
  width: 100%;
}

.application-input {
  height: 60px;
}

.information-select {
  width: 100%;
  color: #bbbbbb;
  max-width: 320px;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg width='10' height='6' viewBox='0 0 10 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1l4 4 4-4' stroke='%23999' stroke-width='2' fill='none' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 16px center;
  background-size: 12px;
  cursor: pointer;
}

.information-date {
  appearance: none;
  background-color: #f4f4f4;
  border: none;
  border-radius: 100px;
  width: 100%;
  color: #bbbbbb;
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23999" height="20" viewBox="0 0 24 24" width="20" xmlns="http://www.w3.org/2000/svg"><path d="M19 4h-1V2h-2v2H8V2H6v2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V10h14v10zm0-12H5V6h14v2z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 20px;
}

.information-date-2 {
  max-width: 320px;
}

.information-button {
  font-family: "Roboto";
  font-weight: Weight Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 100%;
  color: #cacaca;
  max-width: 320px;
  border: 2px solid #dddddd;
  background-color: #ffffff;
  font-weight: "Body/Font Weight Regular";
  line-height: 140%;
  letter-spacing: 0%;
  cursor: pointer;
  transition: background-color 0.3s ease;
  padding: 16px;
  text-align: center;
}

.information-button.enabled {
  border: 2px solid #00b066;
  background-color: #00b066;
  color: white;
  cursor: pointer;
}

.application-button {
  border: 2px solid #00b066;
  background-color: #00b066;
  color: white;
  cursor: pointer;
  font-family: "Roboto";
  font-weight: Weight Bold;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 16px 20px;
  height: auto;
  width: 100%;
  max-width: 320px;
}

.information-date::-webkit-calendar-picker-indicator {
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}



.date-wrapper label {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  transition: all 0.2s ease-out;
  font-size: 14px;
}


.information-second-box,
.application-second-box {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 0 81px 78px;
  gap: 24px;
}

.information-inputs,
.application-inputs {
  display: flex;
  gap: 32px;
}

.application-inputs {
  width: 100%;
}

.typed {
  color: #000000;
}

.information-third-box,
.application-third-box {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 0 81px 78px;
  gap: 15px;
}

.application-third-box {
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.application-ambulant {
  padding: 0;
}

.information-ambulant {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00b0660a;
  padding: 62px 37px;
  flex-wrap: wrap;
  gap: 20px;
}

.checkbox-label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tarif-checkbox1,
.tarif-checkbox2 {
  accent-color: black;
  width: 16px;
  height: 16px;
  flex-shrink: 0;
}

.tarif-checkbox2 {
  visibility: hidden;
}

.checkbox-dark-text {
  font-family: "Roboto";
  font-weight: "Subheading/Font Weight";
  font-size: "Subheading/Size Medium";
  line-height: 120%;
  letter-spacing: 0%;
  color: #1e1e1e;
  display: flex;
  gap: 12px;
  align-items: center;
}

.checkbox-light-text {
  color: #757575;
  font-family: "Roboto";
  font-weight: "Body/Font Weight Regular";
  font-size: "Body/Size Medium";
  line-height: 140%;
  letter-spacing: 0%;
  display: flex;
  gap: 12px;
}

.plus-container {
  display: flex;
  gap: 10px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 28px;
  line-height: 150%;
  letter-spacing: -1.9%;
  color: #000000cc;
  margin: 0 auto 88px;
  max-width: calc(100% - 288px);
  width: 100%;
  align-items: center;
  cursor: pointer;
}

.complete-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #00b066;
  padding: 29px 142px;
  flex-wrap: wrap;
  gap: 20px;
}

.complete-text {
  font-family: "Inter";
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  letter-spacing: 0%;
  color: #ffffff;
  flex: 1;
  min-width: 300px;
}

.complete-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 320px;
  width: 100%;
  border: 2px solid #000000;
  border-radius: 100px;
  background: #ffffff;
  color: #001957;
  font-family: "Marselis Pro";
  font-weight: "Body/Font Weight Regular";
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 15.13px;
  text-align: center;
}

.application-submit {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  padding: 0 81px 78px;
  gap: 24px;
}

.application-download {
  appearance: none;
  background-color: #f4f4f4;
  border: none;
  border-radius: 8px;
  width: 100%;
  color: #bbbbbb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-download' viewBox='0 0 16 16'%3E%3Cpath d='M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5'/%3E%3Cpath d='M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 20px;
  max-width: 50%;
  cursor: pointer;
  padding: 16px 20px;
  font-size: 18px;
}

/* Responsiveness */
@media (max-width: 1440px) {
  .nav-header {
    margin: 0 40px;
  }

  .stepper {
    margin: 120px auto 70px;
    max-width: calc(100% - 200px);
  }

  .information-container,
  .application-container {
    max-width: calc(100% - 120px);
  }

  .plus-container {
    max-width: calc(100% - 200px);
  }

  .active {
    border-radius: 50px 0px 0 50px !important;
  }

  .active2 {
    border-radius: 0 !important;
  }
}

@media (max-width: 1292px) {
  .nav-header {
    margin: 0 30px;
  }

  .step-label {
    font-size: 18px;
  }

  .information-title {
    font-family: "RobotoBold";
    font-size: 22px;
  }

  .application-title {
    font-family: "RobotoBold";
    font-size: 22px;
  }

  .information-first-box,
  .application-first-box {
    gap: 16px;
  }

  .application-input {
    font-size: 18px;
  }

  .information-button {
    font-size: 20px;
    padding: 14px;
  }

  .step-number {
    width: 60px;
    height: 60px;
    font-size: 24px;
  }

  .information-ambulant {
    padding: 40px 30px;
  }

  .complete-container {
    padding: 25px 80px;
  }

  .active {
    border-radius: 50px 0px 0 50px !important;
  }

  .active2 {
    border-radius: 0 !important;
  }

  .information-description,
  .application-tarif,
  .application-description,
  .complete-text,
  .complete-btn,
  .information-date-box,
  .plus-container {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .nav-header {
    margin: 0 20px;
  }

  .nav-menu {
    height: auto;
    padding: 15px;
    gap: 20px;
  }

  .stepper {
    margin: 100px auto 50px;
    max-width: calc(100% - 100px);
    border-radius: 50px;
  }

  .step {
    flex-direction: column;
    gap: 15px;
    padding: 15px;
  }

  .active {
    border-radius: 50px 0 0 50px !important;
  }

  .active2 {
    border-radius: 0 !important;
  }

  .active2 {
    border-radius: 0 !important;
  }

  .information-container,
  .application-container {
    max-width: calc(100% - 80px);
  }

  .information-first-box,
  .application-first-box,
  .information-second-box,
  .application-second-box,
  .information-third-box,
  .application-third-box,
  .application-submit {
    padding: 40px;
  }

  .information-inputs,
  .application-inputs {
    gap: 20px;
  }

  .plus-container {
    max-width: calc(100% - 100px);
    font-size: 24px;
  }

  .complete-container {
    padding: 20px 40px;
  }

  .complete-text {
    font-size: 28px;
  }

  .application-download {
    max-width: 100%;
  }
}

@media (max-width: 768px) {
  .nav-header {
    margin: 0 15px;
    padding: 8px;
    height: auto;
    flex-wrap: wrap;
    gap: 15px;
  }

  .nav-help {
    font-size: 16px;
    gap: 15px;
  }

  .nav-logo {
    width: 150px;
    order: -1;
    margin: 0 auto;
  }

  .nav-header-items ul {
    gap: 15px;
    font-size: 16px;
  }

  .nav-menu {
    font-size: 16px;
    gap: 15px;
  }

  .step {
    min-width: 150px;
    gap: 10px;
  }

  .step-number {
    width: 50px;
    height: 50px;
    font-size: 20px;
  }

  .step-label {
    font-size: 20px;
    white-space: normal;
    text-align: center;
  }

  .information-title,
  .application-title {
    font-family: "RobotoBold";
    font-size: 20px;
  }

  .information-first-box,
  .application-first-box {
    padding: 30px;
    gap: 12px;
  }

  .information-button {
    font-size: 18px;
    padding: 12px;
  }

  .application-submit {
    padding: 0 20px 20px;
  }

  .application-download {
    font-size: 16px;
    padding: 12px 20px;
  }

  .information-ambulant {
    padding: 30px 20px;
    justify-content: center;
    text-align: center;
  }

  .checkbox-label {
    align-items: center;
  }

  .plus-container {
    font-size: 20px;
    margin-bottom: 60px;
  }

  .complete-container {
    justify-content: center;
    text-align: center;
  }

  .complete-text {
    min-width: 100%;
  }

  .active {
    border-radius: 50px 0px 0 50px !important;
  }

  .active2 {
    border-radius: 0 !important;
  }
}

@media (max-width: 576px) {
  .nav-header {
    margin: 0 10px;
    padding: 10px 0;
  }

  .nav-help {
    font-size: 14px;
    gap: 10px;
  }

  .nav-header-items ul {
    gap: 10px;
    font-size: 14px;
  }

  .nav-menu {
    font-size: 14px;
    gap: 10px;
  }

  .stepper {
    margin: 80px auto 30px;
    max-width: calc(100% - 40px);
    flex-direction: column;
    border-radius: 30px;
  }

  .step {
    width: 100%;
    padding: 10px;
  }

  .active {
    border-radius: 30px 30px 0 0 !important;
  }

  .active2 {
    border-radius: 0 !important;
  }

  .information-title,
  .application-title {
    font-family: "RobotoBold";
    font-size: 18px;
  }

  .step-number {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .information-first-box,
  .application-first-box {
    padding: 20px;
  }

  .information-second-box,
  .application-second-box,
  .information-third-box,
  .application-third-box,
  .application-submit {
    padding: 20px;
  }

  .information-button {
    font-size: 16px;
    padding: 10px;
  }

  .application-submit {
    padding: 0 10px 10px;
  }

  .complete-container {
    padding: 15px;
  }

  .complete-text {
    font-size: 24px;
  }

  .information-container,
  .application-container {
    max-width: calc(100% - 40px);
  }

  .plus-container {
    max-width: calc(100% - 40px);
    font-size: 18px;
    margin-bottom: 40px;
  }

  .application-download {
    background-position: right 8px center;
  }

  .application-third-box {
    justify-content: center;
  }

  .application-button {
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  .nav-menu {
    font-size: 12px;
    gap: 8px;
  }

  .information-title,
  .application-title {
    font-family: "RobotoBold";
    font-size: 16px;
  }

  .information-first-box,
  .application-first-box {
    padding: 15px;
  }

  .complete-text {
    font-size: 20px;
  }

  .plus-container {
    font-size: 16px;
    gap: 8px;
  }

  .application-download {
    font-size: 14px;
    padding: 10px 15px;
  }

  .active {
    border-radius: 30px 30px 0 0 !important;
  }

  .active2 {
    border-radius: 0 !important;
  }
}
